body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  opacity: 0; /* Startujemy z niewidoczną stroną */
  transition: opacity 1.5s ease-in-out; /* Płynne wejście trwające 1.5s */
}

body.loaded {
  opacity: 1;
}

header {
  background: #3b4cca;
  color: white;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
}

main {
  margin-left: 80px;
  padding: 20px;
  transition: margin-left 0.3s;
}

button {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background: #ffcb05;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #e6b800;
}
#user-sidebar {
  position: fixed;
  left: -250px; /* Całkowicie schowany */
  top: 0;
  width: 280px;
  height: 100%;
  background: #3b4cca;
  color: white;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}

/* Po najechaniu wysuń pasek */
#user-sidebar:hover {
  left: 0;
}

/* "Uchwyt" widoczny na krawędzi, gdy pasek jest schowany */
.sidebar-handle {
  position: absolute;
  right: -50px;
  top: 20px;
  background: #3b4cca;
  padding: 20px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

.sidebar-content button {
  margin-top: 20px;
  background: #dcbc31;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.bonus-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85); /* Ciemne tło */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  backdrop-filter: blur(5px); /* Efekt rozmycia tła */
}

.bonus-content {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  transform: scale(0.8);
  animation: popupAnim 0.4s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#bonus-icon {
  font-size: 60px;
  margin-bottom: 20px;
}

.bonus-content h2 {
  color: #3b4cca;
  margin: 0;
}
.bonus-content p {
  font-size: 1.2em;
  margin: 20px 0;
  color: #333;
}

#close-bonus-btn {
  background: #ffcb05;
  color: #3b4cca;
  border: none;
  padding: 12px 30px;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.2s;
}

#close-bonus-btn:hover {
  transform: scale(1.1);
}

@keyframes popupAnim {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
